CONFIG_MTOS_UART_PORT=1
CONFIG_MTOS_UART_BAUD_RATE=921600
CONFIG_MTOS_UART_TX_PIN=4
CONFIG_MTOS_UART_RX_PIN=5
CONFIG_MTOS_UART_STEP_MS=10
CONFIG_MTOS_DEFAULT_TIMEOUT=10000
CONFIG_MTOS_BUFFER_SIZE=4096
CONFIG_MTOS_BUFFER_LEGACY=32
CONFIG_MTOS_CALL_QUEUE_LENGTH=4
CONFIG_MTOS_EVT_QUEUE_SIZE=16
